{% extends 'base.html' %}

{% block content %}
  <h5>Nama Tugas: </h5>
  <b>{{ assignment.name }}</b>

  <table>
    <tr>
      <th>nama</th>
      <th>Mata Kuliah</th>
      <th>Tenggat Waktu</th>
      <th>Progress</th>
      <th>Deskripsi</th>
    </tr>
    {% for assignment in assignments %}
      <tr>
        <td>{{ assignment.name }}</td>
        <td>{{ assignment.subject }}</td>
        <td>{{ assignment.date }}</td>
        <td>{{ assignment.progress }}</td>
        <td>{{ assignment.description }}</td>
      </tr>
    {% endfor %}
  </table>

  <br>
<a href="{% url 'study_tracker:create_assignment' %}">
    <button>
        Jadwal Baru
    </button>
</a>

{% endblock content %}
